PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2024-09-25 19:31:38.487331');
INSERT INTO django_migrations VALUES(2,'contenttypes','0002_remove_content_type_name','2024-09-25 19:31:38.487331');
INSERT INTO django_migrations VALUES(3,'auth','0001_initial','2024-09-25 19:31:38.518547');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO auth_user VALUES(1,'pbkdf2_sha256$600000$5r2zGWsYacQulfMYvztPkI$hQLqobQylZ4N9R/6CLmY9ScWeU7YMf3Nkyf5Y+eJDmE=','2024-10-01 21:15:56.119470',1,'admin','','',1,1,'2024-09-26 18:47:27.531430','');
INSERT INTO auth_user VALUES(3,'pbkdf2_sha256$600000$5afgttL8Y90l3dAU7aMyQ5$83r8CHY+c76j/RNmZNS7HvmKygLqmQ5XSqWUebDx0AY=',NULL,0,'Kirtish','','',0,1,'2024-09-27 18:14:13','');
INSERT INTO auth_user VALUES(6,'pbkdf2_sha256$600000$MHMpQi9XWOtccRNaKWBtkI$gPcOgVsEWR9NKR45rXTYtUz0vZhCJcBdxR3qfHMvs6s=',NULL,0,'Redeye','','',0,1,'2024-09-30 16:31:20','');
CREATE TABLE IF NOT EXISTS "API_category" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "category_name" varchar(120) NOT NULL, "parent_category_id" bigint NULL REFERENCES "API_category" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO API_category VALUES(1,'weapons',NULL);
INSERT INTO API_category VALUES(7,'Electronics',NULL);
INSERT INTO API_category VALUES(8,'Fashion',NULL);
CREATE TABLE IF NOT EXISTS "API_customuser" ("user_ptr_id" integer NOT NULL PRIMARY KEY REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO API_customuser VALUES(3);
INSERT INTO API_customuser VALUES(6);
INSERT INTO API_customuser VALUES(7);
CREATE TABLE IF NOT EXISTS "API_role" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "role" varchar(120) NOT NULL, "permissions" text NOT NULL CHECK ((JSON_VALID("permissions") OR "permissions" IS NULL)));
INSERT INTO API_role VALUES(1,'consumer','{"can_add_product": true, "can_view_cart": true, "can_checkout": false}');
INSERT INTO API_role VALUES(2,'seller','{"role": "seller", "permissions": {"products": {"view": true, "create": true, "edit": true, "delete": false}, "orders": {"view": true, "create": false, "edit": false, "cancel": false}, "profile": {"view": true, "edit": true, "delete": false}, "reports": {"view_sales": true, "view_inventory": true}}}');
INSERT INTO API_role VALUES(3,'Consumer','{"can_buy": true}');
CREATE TABLE IF NOT EXISTS "API_product" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "product_name" varchar(120) NOT NULL, "description" text NOT NULL, "price" real NOT NULL, "stock_quantity" integer NOT NULL, "category_id" bigint NOT NULL REFERENCES "API_category" ("id") DEFERRABLE INITIALLY DEFERRED, "seller_id" integer NOT NULL REFERENCES "API_customuser" ("user_ptr_id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO API_product VALUES(4,'another','Owner indicate grow edge focus item apply. Upon about parent open start partner. Bank money door have one character. Fine common degree.',46784.0,247,7,8);
INSERT INTO API_product VALUES(5,'shoulder',replace('Sense arrive be quite bill national also. Number probably feel industry. Education sing policy no.\nStandard blood middle coach talk assume. State threat make become part Democrat.','\n',char(10)),98757.0,967,7,8);
INSERT INTO API_product VALUES(6,'suddenly','Share similar factor next. Call most democratic enough participant every. Happen skill pick number chair again. Plant by war trip ahead between month.',2504.0,904,7,8);
CREATE TABLE IF NOT EXISTS "API_order" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "total_amount" real NOT NULL, "order_date" datetime NOT NULL, "status" varchar(20) NOT NULL, "user_id" integer NOT NULL REFERENCES "API_customuser" ("user_ptr_id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO API_order VALUES(1,283283.0,'2024-09-28 20:16:34.625920','True',3);
INSERT INTO API_order VALUES(2,60799.0,'2024-10-01 21:15:10.835364','Shipped',17);
INSERT INTO API_order VALUES(3,28469.0,'2024-10-01 21:15:10.841368','Pending',19);
CREATE TABLE IF NOT EXISTS "API_customuser_roles" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "customuser_id" integer NOT NULL REFERENCES "API_customuser" ("user_ptr_id") DEFERRABLE INITIALLY DEFERRED, "role_id" bigint NOT NULL REFERENCES "API_role" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO API_customuser_roles VALUES(2,3,1);
INSERT INTO API_customuser_roles VALUES(4,6,2);
INSERT INTO API_customuser_roles VALUES(5,7,3);
CREATE TABLE IF NOT EXISTS "API_cartproduct" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "quantity" integer NOT NULL, "cart_id" bigint NOT NULL REFERENCES "API_cart" ("id") DEFERRABLE INITIALLY DEFERRED, "product_id" bigint NOT NULL REFERENCES "API_product" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO API_cartproduct VALUES(5,84,4,4);
INSERT INTO API_cartproduct VALUES(6,74,4,5);
INSERT INTO API_cartproduct VALUES(7,3,4,6);
CREATE TABLE IF NOT EXISTS "API_cart" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "total_amount" real NOT NULL, "user_id" integer NOT NULL REFERENCES "API_customuser" ("user_ptr_id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO API_cart VALUES(1,0.0,3);
INSERT INTO API_cart VALUES(3,0.0,7);
INSERT INTO API_cart VALUES(4,0.0,17);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
INSERT INTO django_admin_log VALUES(1,'1','Role object (1)',1,'[{"added": {}}]',10,1,'2024-09-26 18:49:05.432280');
INSERT INTO django_admin_log VALUES(2,'2','Kir',1,'[{"added": {}}]',9,1,'2024-09-26 18:49:06.903260');
INSERT INTO django_admin_log VALUES(3,'2','Kir',3,'',4,1,'2024-09-26 18:58:30.085509');
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('f2j9vo8z0vsexkqe34byfaqqwds31u3z','.eJxVjDsOwjAQBe_iGlnxZ52Ekp4zWLveNQ4gR4qTCnF3iJQC2jcz76UibmuJW5MlTqzOyqjT70aYHlJ3wHest1mnua7LRHpX9EGbvs4sz8vh_h0UbOVbA_ZEQwghJWHnWKzJmT0NyOLQZ-dSsCN7GJMxwXYECNn2DB0wGSfq_QEJuDiF:1sttWp:dUrAl5YDrMMW0NOGtXO6hkrzZ0II0UWh6tTCSvREZmk','2024-10-10 18:47:51.474905');
INSERT INTO django_session VALUES('wcf886lwlavnzrt10ubajsd4l86qus5u','.eJxVjDsOwjAQBe_iGlnxZ52Ekp4zWLveNQ4gR4qTCnF3iJQC2jcz76UibmuJW5MlTqzOyqjT70aYHlJ3wHest1mnua7LRHpX9EGbvs4sz8vh_h0UbOVbA_ZEQwghJWHnWKzJmT0NyOLQZ-dSsCN7GJMxwXYECNn2DB0wGSfq_QEJuDiF:1suFFt:zV0cLZuMEz6R3cDdTHFsJrlh2izcjyLSj75XqaYd14k','2024-10-11 17:59:49.042089');
INSERT INTO django_session VALUES('nchh4eo47k6tgk4k18lck0yexef7w41u','.eJxVjDsOwjAQBe_iGlnxZ52Ekp4zWLveNQ4gR4qTCnF3iJQC2jcz76UibmuJW5MlTqzOyqjT70aYHlJ3wHest1mnua7LRHpX9EGbvs4sz8vh_h0UbOVbA_ZEQwghJWHnWKzJmT0NyOLQZ-dSsCN7GJMxwXYECNn2DB0wGSfq_QEJuDiF:1svkDs:gbIRqyywp3CzmRMUpx0Yd9liAbSvPcHov47lZBRndcQ','2024-10-15 21:15:56.124485');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',19);
INSERT INTO sqlite_sequence VALUES('django_content_type',13);
INSERT INTO sqlite_sequence VALUES('auth_permission',52);
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "API_category_parent_category_id_0a58fc92" ON "API_category" ("parent_category_id");
CREATE INDEX "API_product_category_id_a02ddc98" ON "API_product" ("category_id");
CREATE INDEX "API_product_seller_id_8a314a77" ON "API_product" ("seller_id");
CREATE INDEX "API_order_user_id_3af68d21" ON "API_order" ("user_id");
CREATE UNIQUE INDEX "API_customuser_roles_customuser_id_role_id_0c9a648f_uniq" ON "API_customuser_roles" ("customuser_id", "role_id");
CREATE INDEX "API_customuser_roles_customuser_id_4321537b" ON "API_customuser_roles" ("customuser_id");
CREATE INDEX "API_customuser_roles_role_id_8242937c" ON "API_customuser_roles" ("role_id");
CREATE INDEX "API_cartproduct_cart_id_40641a5d" ON "API_cartproduct" ("cart_id");
CREATE INDEX "API_cartproduct_product_id_801b18d5" ON "API_cartproduct" ("product_id");
CREATE INDEX "API_cart_user_id_b7f02d41" ON "API_cart" ("user_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
COMMIT;
